In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline

names_array = ['gender', 'age', 'class1', 'class2', 'class3', *['t{}'.format(i + 1) for i in range(60000)]]
url = '~/half.csv'
data = pd.read_csv(url, names=names_array)

In [2]:
data.dtypes

gender     object
age         int64
class1      int64
class2    float64
class3    float64
           ...
t59996    float64
t59997    float64
t59998    float64
t59999    float64
t60000    float64
Length: 60005, dtype: object

In [3]:
ecg_columns = ['t{}'.format(i + 1) for i in range(60000)]
data[ecg_columns] = data[ecg_columns].astype('float32')

data.age = data.age.astype('int32')
data.class1 = data.class1.astype('int32')
data.class2 = data.class1.astype('int32')
data.class3 = data.class1.astype('int32')
data.dtypes

gender     object
age         int32
class1      int32
class2      int32
class3      int32
           ...
t59996    float32
t59997    float32
t59998    float32
t59999    float32
t60000    float32
Length: 60005, dtype: object

In [4]:
data

,gender,age,class1,class2,class3,t1,t2,t3,t4,t5,...,t59991,t59992,t59993,t59994,t59995,t59996,t59997,t59998,t59999,t60000
0,Female,85,3,3,3,0.003242,0.012132,0.022637,0.010953,-0.024891,...,-0.028246,-0.028318,-0.025569,-0.021279,-0.018593,-0.032023,-0.046202,-0.042003,-0.034466,-0.039000
1,Male,79,9,9,9,0.012054,0.017017,0.015951,0.020941,0.020960,...,-0.833698,-0.836701,-0.827418,-0.827810,-0.816231,-0.819793,-0.797862,-0.819597,-0.771195,-0.845490
2,Male,66,3,3,3,-0.009508,-0.008508,-0.009508,-0.008508,-0.007508,...,0.009947,0.011947,0.012947,0.015947,0.018947,0.023947,0.027947,0.030947,0.034947,0.037947
3,Male,93,2,2,2,-0.002271,0.004177,-0.002077,-0.005875,-0.004685,...,-0.013160,-0.006182,-0.003825,-0.002177,-0.001466,-0.006676,-0.011236,-0.016540,-0.016289,-0.022542
4,Male,65,2,2,2,-0.030600,-0.027425,-0.013923,-0.023743,-0.024572,...,-0.095019,-0.080091,-0.069085,-0.057114,-0.051975,-0.039729,-0.031630,-0.026058,-0.012157,-0.001676
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1245,Male,74,2,2,2,-0.059215,-0.062215,-0.063215,-0.062215,-0.063215,...,0.666640,0.661640,0.658640,0.661640,0.666640,0.673640,0.677640,0.675640,0.669640,0.661640
1246,Female,85,7,7,7,-0.026865,-0.031595,-0.018658,-0.025395,-0.024190,...,-0.076704,-0.073863,-0.065800,-0.064180,-0.061556,-0.056387,-0.053209,-0.053092,-0.049083,-0.049954
1247,Male,61,2,2,2,-0.069352,-0.090177,-0.076889,-0.078147,-0.061193,...,0.066621,0.066821,0.066978,0.066138,0.064658,0.066798,0.064192,0.072895,0.062235,0.060652
1248,Female,85,3,3,3,0.040138,0.058262,0.047939,0.041012,0.039446,...,-0.029536,-0.029001,-0.031650,-0.036930,-0.041992,-0.044201,-0.034080,-0.032233,-0.030831,-0.033880
1249,Male,82,1,1,1,0.018899,0.044454,0.013464,0.004368,0.008794,...,2.143148,2.118171,1.985838,1.685115,1.238798,0.741085,0.311619,-0.035582,-0.215320,-0.406685

In [5]:
data.isnull().values.any()

False

In [6]:
data = data.fillna(data.median(axis = 0), axis = 0)
data

,gender,age,class1,class2,class3,t1,t2,t3,t4,t5,...,t59991,t59992,t59993,t59994,t59995,t59996,t59997,t59998,t59999,t60000
0,Female,85,3,3,3,0.003242,0.012132,0.022637,0.010953,-0.024891,...,-0.028246,-0.028318,-0.025569,-0.021279,-0.018593,-0.032023,-0.046202,-0.042003,-0.034466,-0.039000
1,Male,79,9,9,9,0.012054,0.017017,0.015951,0.020941,0.020960,...,-0.833698,-0.836701,-0.827418,-0.827810,-0.816231,-0.819793,-0.797862,-0.819597,-0.771195,-0.845490
2,Male,66,3,3,3,-0.009508,-0.008508,-0.009508,-0.008508,-0.007508,...,0.009947,0.011947,0.012947,0.015947,0.018947,0.023947,0.027947,0.030947,0.034947,0.037947
3,Male,93,2,2,2,-0.002271,0.004177,-0.002077,-0.005875,-0.004685,...,-0.013160,-0.006182,-0.003825,-0.002177,-0.001466,-0.006676,-0.011236,-0.016540,-0.016289,-0.022542
4,Male,65,2,2,2,-0.030600,-0.027425,-0.013923,-0.023743,-0.024572,...,-0.095019,-0.080091,-0.069085,-0.057114,-0.051975,-0.039729,-0.031630,-0.026058,-0.012157,-0.001676
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1245,Male,74,2,2,2,-0.059215,-0.062215,-0.063215,-0.062215,-0.063215,...,0.666640,0.661640,0.658640,0.661640,0.666640,0.673640,0.677640,0.675640,0.669640,0.661640
1246,Female,85,7,7,7,-0.026865,-0.031595,-0.018658,-0.025395,-0.024190,...,-0.076704,-0.073863,-0.065800,-0.064180,-0.061556,-0.056387,-0.053209,-0.053092,-0.049083,-0.049954
1247,Male,61,2,2,2,-0.069352,-0.090177,-0.076889,-0.078147,-0.061193,...,0.066621,0.066821,0.066978,0.066138,0.064658,0.066798,0.064192,0.072895,0.062235,0.060652
1248,Female,85,3,3,3,0.040138,0.058262,0.047939,0.041012,0.039446,...,-0.029536,-0.029001,-0.031650,-0.036930,-0.041992,-0.044201,-0.034080,-0.032233,-0.030831,-0.033880
1249,Male,82,1,1,1,0.018899,0.044454,0.013464,0.004368,0.008794,...,2.143148,2.118171,1.985838,1.685115,1.238798,0.741085,0.311619,-0.035582,-0.215320,-0.406685

In [7]:
data.gender.unique()

array(['Female', 'Male'], dtype=object)

In [8]:
data.age.unique()

array([85, 79, 66, 93, 65, 55, 82, 87, 51, 61, 90, 77, 70, 60, 62, 59, 84,
       71, 45, 48, 75, 49, 72, 78, 86, 46, 94, 33, 74, 64, 67, 63, 88, 32,
       92, 68, 76, 54, 89, 31, 80, 30, 57, 83, 34, 27, 73, 69, 52, 44, 43,
       47, 39, 56, 81, 53, 50, 16, 29, 37, 58, 24, 22, 40, 41, 11, 26, 28,
       96, 35, 91, 25, 36, 23, 19, 17, 42, 18, 15,  8, 20, 38, 14, 21],
      dtype=int32)

In [9]:
data.isnull().values.any()

False

In [11]:
import random

current_count_per_sensor = 5000
needed_count_per_sensor = 2500
multiplier = 5
sensors_count = 12

non_sliceable_columns = data.iloc[:,0:5]
sliceable_columns = data.iloc[:,5:]

new_data = pd.DataFrame()
for i in range(multiplier):
    left_border = random.randint(0, current_count_per_sensor - needed_count_per_sensor)
    right_border = left_border + needed_count_per_sensor
    new_slice = pd.DataFrame()
  
    for j in range(sensors_count):
        index_from = j * current_count_per_sensor + left_border
        index_to = j * current_count_per_sensor + right_border
        data_slice = sliceable_columns.iloc[:, index_from:index_to]
        new_slice = pd.concat([new_slice, data_slice], axis=1, sort=False, ignore_index=True)
  
    completed_rows = pd.concat([non_sliceable_columns.copy(), new_slice], axis=1, sort=False, ignore_index=True)
    new_data = pd.concat([new_data, completed_rows], axis=0, sort=False, ignore_index=True)

new_data.columns = ['gender', 'age', 'class1', 'class2', 'class3', *['t{}'.format(i + 1) for i in range(needed_count_per_sensor * sensors_count)]]
new_data

,gender,age,class1,class2,class3,t1,t2,t3,t4,t5,...,t29991,t29992,t29993,t29994,t29995,t29996,t29997,t29998,t29999,t30000
0,Female,85,3,3,3,-0.029812,-0.037311,-0.034239,-0.026593,-0.024103,...,-0.051134,-0.053542,-0.061081,-0.064509,-0.062027,-0.060976,-0.056918,-0.056419,-0.056023,-0.053434
1,Male,79,9,9,9,-0.024839,-0.021670,-0.017067,-0.018825,-0.024307,...,0.137093,0.134161,0.134447,0.136346,0.144572,0.152467,0.156086,0.152455,0.144571,0.136627
2,Male,66,3,3,3,0.207492,0.216492,0.211492,0.193492,0.158492,...,-0.039053,-0.039053,-0.038053,-0.039053,-0.039053,-0.040053,-0.040053,-0.040053,-0.040053,-0.040053
3,Male,93,2,2,2,-0.039919,-0.048707,-0.069696,-0.086122,-0.093923,...,-0.074448,-0.071591,-0.072309,-0.071233,-0.069382,-0.069453,-0.069512,-0.069341,-0.069720,-0.067054
4,Male,65,2,2,2,-0.083066,-0.103333,-0.109055,-0.106489,-0.095561,...,0.076499,0.065898,0.061242,0.051176,0.041299,0.031060,0.021100,0.010888,0.002548,-0.004210
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6245,Male,74,2,2,2,0.008785,-0.000215,-0.005215,-0.007215,-0.000215,...,0.002640,-0.003360,-0.011360,-0.021360,-0.031360,-0.042360,-0.050360,-0.059360,-0.066360,-0.074360
6246,Female,85,7,7,7,0.103483,0.096751,0.101236,0.105911,0.098966,...,-0.123883,-0.109973,-0.106800,-0.121232,-0.134930,-0.134350,-0.117380,-0.111306,-0.111585,-0.106874
6247,Male,61,2,2,2,0.023144,0.014735,0.008287,-0.006381,-0.019519,...,-0.018563,-0.009230,-0.003850,-0.003730,0.005891,0.021411,0.029767,0.038472,0.044240,0.041592
6248,Female,85,3,3,3,-0.033287,-0.030998,-0.010719,-0.008021,-0.002345,...,-0.092163,-0.090007,-0.085010,-0.084469,-0.079474,-0.076982,-0.077224,-0.076914,-0.070256,-0.064772
6249,Male,82,1,1,1,0.031395,0.045812,0.042517,0.022610,0.004812,...,-0.019408,-0.007690,-0.009516,-0.005689,-0.001503,-0.004703,-0.010181,-0.009665,0.005122,0.007560

In [12]:
new_data.isnull().values.any()

False

In [13]:
data = new_data

In [14]:
# убираем лишние классовые признаки
data = data.drop('class2', axis = 1)
data = data.drop('class3', axis = 1)

#собираем числовые колонки
numerical_columns = [c for c in data.columns if data[c].dtype.name != 'object' and c != 'class1']

# векторизируем колонку gender
data.at[data['gender'] == 'Male', 'gender'] = 0
data.at[data['gender'] == 'Female', 'gender'] = 1
data.gender = data.gender.astype('int32')

# нормализуем числовые атрибуты
data_numerical = data[numerical_columns]
data_numerical = (data_numerical - data_numerical.mean(axis = 0))/data_numerical.std(axis = 0)
data[numerical_columns] = data_numerical

data

,gender,age,class1,t1,t2,t3,t4,t5,t6,t7,...,t29991,t29992,t29993,t29994,t29995,t29996,t29997,t29998,t29999,t30000
0,1,1.177766,3,-0.213518,-0.261487,-0.237092,-0.184452,-0.167566,-0.135509,-0.119509,...,-0.200997,-0.206583,-0.228557,-0.238556,-0.229729,-0.226590,-0.214643,-0.214243,-0.214396,-0.207518
1,0,0.808638,9,-0.179801,-0.155711,-0.121470,-0.132465,-0.168926,-0.152474,-0.131731,...,0.434807,0.423080,0.420805,0.424077,0.449046,0.475720,0.488867,0.477364,0.453880,0.429966
2,0,0.008859,3,1.395419,1.454851,1.417457,1.288428,1.048315,0.744410,0.409479,...,-0.160190,-0.157979,-0.152079,-0.154575,-0.154249,-0.157746,-0.158941,-0.160054,-0.161192,-0.162636
3,0,1.669938,2,-0.282046,-0.338550,-0.475832,-0.582839,-0.632491,-0.708756,-0.743895,...,-0.279751,-0.267132,-0.265844,-0.260741,-0.253894,-0.254482,-0.256238,-0.257029,-0.260026,-0.253198
4,0,-0.052662,2,-0.574580,-0.707957,-0.740842,-0.719144,-0.643395,-0.430314,-0.343095,...,0.230129,0.194086,0.177687,0.143097,0.109744,0.076242,0.043036,0.008616,-0.019269,-0.042415
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6245,0,0.501031,2,0.048173,-0.010625,-0.041668,-0.054770,-0.008498,0.030823,0.088468,...,-0.019357,-0.038245,-0.063429,-0.096205,-0.128974,-0.165337,-0.192983,-0.223982,-0.248833,-0.277705
6246,1,1.177766,7,0.690231,0.645107,0.675086,0.702303,0.651937,0.641780,0.640044,...,-0.446735,-0.395885,-0.380392,-0.425688,-0.469250,-0.468018,-0.414338,-0.395981,-0.399499,-0.386760
6247,0,-0.298748,2,0.145531,0.090472,0.049245,-0.049192,-0.137040,-0.048547,0.027035,...,-0.090979,-0.057936,-0.038490,-0.038042,-0.006586,0.044496,0.071661,0.099953,0.119630,0.111209
6248,1,1.177766,3,-0.237078,-0.218793,-0.078728,-0.060163,-0.022683,-0.131560,-0.307363,...,-0.339588,-0.328909,-0.308026,-0.304406,-0.287050,-0.279255,-0.281711,-0.282105,-0.261812,-0.245545
6249,0,0.993202,1,0.201473,0.300633,0.279721,0.144829,0.024975,0.059832,0.311497,...,-0.093831,-0.052771,-0.057305,-0.044506,-0.030879,-0.041432,-0.060281,-0.059437,-0.010692,-0.002936

In [15]:
# бьем данные на входы и выходы
x = data.drop('class1', axis = 1)
y = data['class1']

In [16]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 42)

n_train, _ = x_train.shape 
n_test,  _ = x_test.shape 

print('Train dataset size: {}'.format(n_train))
print('Test dataset size: {}'.format(n_test))

Train dataset size: 4375
Test dataset size: 1875

In [21]:
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score

model = XGBClassifier(booster='gblinear')
model.fit(x_train, y_train)

y_pred = model.predict(x_test)
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 12.59%

In [20]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(n_estimators=1000, oob_score=True)
model.fit(x_train, y_train)

y_pred = model.predict(x_test)
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 46.13%

In [22]:
from sklearn.svm import SVC

model = SVC(kernel='poly', probability=True, random_state=17, tol=1e-4)
model.fit(x_train, y_train)

y_pred = model.predict(x_test)
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 27.04%